.car-brands {
  text-align: center;
  padding: 50px 20px;
}

.car-brands h2 {
  font-size: 28px;
  color: #FFC107;
  margin-bottom: 30px;
}

.brands-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.brand {
  background: #081735;
  padding: 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s;
  width: 150px;
}

.brand img {
  width: 100px;
  margin-bottom: 10px;
}

.brand p {
  color: white;
  font-weight: bold;
}

.brand:hover {
  transform: scale(1.05);
  background: #0A1F44;
}
